force-app/main/default/flows/DML_multiAcc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assingn</name>
        <label>assingn</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>num</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAcc.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAcc.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedaccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAcc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>singleAcc</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>accName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!singleAcc.Name},&apos;apex&apos;,&apos;Flow&apos;)</expression>
    </formulas>
    <interviewLabel>DML multiAcc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DML multiAcc</label>
    <loops>
        <name>singleAcc</name>
        <label>singleAcc</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>multiAcc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assingn</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_updatedAcc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>multiAcc</name>
        <label>multiAcc</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>singleAcc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>apex</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_updatedAcc</name>
        <label>update updatedAcc</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>updatedaccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>multiAcc</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>num</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updatedaccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
