force-app/main/default/flows/how_many.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignmnet</name>
        <label>assignmnet</label>
        <locationX>1098</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fake_loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_how_many</name>
        <label>check how many</label>
        <locationX>838</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>assignmnet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>is_how_many_equal_counter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>how_many_time</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr3</targetReference>
            </connector>
            <label>is how many equal counter</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>how many {!$Flow.CurrentDateTime}</interviewLabel>
    <label>how many</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>fake_loop</name>
        <label>fake loop</label>
        <locationX>1093</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_how_many</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;how many {!how_many_time}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;counter {!counter}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr1</name>
        <label>scr1</label>
        <locationX>590</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_how_many</targetReference>
        </connector>
        <fields>
            <name>how_many_time</name>
            <dataType>Number</dataType>
            <fieldText>how many time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr3</name>
        <label>last scr3</label>
        <locationX>828</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textCounter</name>
            <fieldText>&lt;p&gt;how many do we run this {!how_many_time}&lt;/p&gt;&lt;p&gt;counter {!counter}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>scr1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
