force-app/main/default/flows/soql_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>loop_Account_List.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lowerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Account_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Account_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>lowerFormula</name>
        <dataType>String</dataType>
        <expression>LOWER({!loop_Account_List.Name})</expression>
    </formulas>
    <interviewLabel>soql flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>soql flow</label>
    <loops>
        <name>loop_Account_List</name>
        <label>loop Account List</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>accList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_account_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>accList</name>
        <label>accList</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Account_List</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_account_records</name>
        <label>update account records</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>newAccountList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>accList</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>newAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
