force-app/main/default/flows/vip_contact_withAlex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignment</name>
        <label>assignment</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>vipContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>last_Screen</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>vip contact withAlex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>vip contact withAlex</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <collectionReference>vipContact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>screen2</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_Account</name>
        <label>loop Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>multiAcc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>multiAcc</name>
        <label>multiAcc</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>1000000.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>last_Screen</name>
        <label>last Screen</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_Account</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;{!loop_Account.Id}&lt;/p&gt;&lt;p&gt;{!loop_Account.Name}&lt;/p&gt;&lt;p&gt;{!getContacts}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <fields>
            <name>lopp2</name>
            <fieldText>&lt;p&gt;{!loop.Email}&lt;/p&gt;&lt;p&gt;{!loop.Phone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>multiAcc</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>vipContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
